@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
    font-family: "poppins";
    background-color: aliceblue;
}
    /* cursor start */

body .cursor{
    width: 20px;
    height: 20px;
    background-color: gray;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
}
    /* cursor end */

    /* home section start */
#home{
    width: 100%;
    min-height: 90vh;
}
#navbar{
    width: 100%;
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#home-img{
    cursor: pointer;
}
#navbar ul li{
    display: inline-block;
    list-style: none;
}
#navbar ul li a{
    text-decoration: none;
    display: flex;
    padding: 5px 15px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
#navbar ul li a:hover{
    background-color: #dcc022;
    padding: 15px 20px;
    overflow: hidden;
}
#nav-book{
    font-size: 26px;
    font-weight: bolder;
    color: #000;
    margin-right: 20px;
}
 #landing{
    width: 100%;
    min-height: 78vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#landing #landing-btn h1{
    color: #000;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: "philospher";
}
#landing #landing-btn h2{
    color: #dcc022;
    font-size: 60px;
    margin-bottom: 60px;
    font-weight: bolder;
    font-family: "philospher";
}
#landing #landing-btn button{
    padding: 15px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    background-color: #e7c100;
}
#landing #landing-btn button:hover{
    background-color: #000;
    color: #fff;
}
#landing img{
    width: 600px;
}
#landing #landing-text h6{
    font-family: "philospher";
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}
#landing #landing-text span{
    color: #dcc022;
}
#landing #landing-text h6:hover{
    color: #dcc022;
}  

    /* responsive section */
/* 
    @media (max-width: 900px){
        #home-img{
            width: 200px;
        }
        #navbar ul li a{
            visibility: hidden;
        }
        #nav-book{
            font-size: 22px;
        }
        #landing{
            width: 100%;
            height: 78%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        #landing #landing-btn h1{
            font-size: 40px;
            margin-bottom: 10px;
        }
        #landing #landing-btn h2{
            font-size: 40px;
            margin-bottom: 30px;

        }
        #landing #landing-btn button{
            padding: 12px 30px;
        }
        #landing img{
            width: 450px;
        }
        #landing #landing-text h6{
            font-size: 18px;
            font-weight: 500;
        }
    } */
    @media (max-width: 550px){
        #navbar ul li a, #nav-book{
            display: none;
        }

        /* #home-img{
            width: 200px;
            position: absolute;
            left: 20%;
        }
        #navbar ul li a, #nav-book{
           display: none;
        }
        #landing{
            width: 100%;
            flex-direction: column;
        }
        #landing #landing-btn h1{
            font-size: 60px;
            margin-bottom: 20px;
        }
        #landing #landing-btn h2{
            font-size: 60px;
            margin-bottom: 50px;

        }
        #landing #landing-btn button{
            padding: 15px 40px;
        }
        #landing-img{
            width: 100%;
            flex-direction: column;

        }
        #landing #landing-text h6{
            font-size: 20px;
            font-weight: bolder;
            width: 100%;
        } */
    }

/* home section end */

/* about section start */
#about{
    width: 100%;
    height: 105%;
}
#about-text{
    width: 100%;
    height: 15%;
    background-color: aliceblue;
}
#about-text h1{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 60px;
}
#about-content{
    width: 100%;
    height: 90%;
    background-color: #eac824;
    display: flex;
}
#about-content #about-img img{
    height: 450px;
    width: 550px;
    margin-left: 20%;
    margin-top: 15%;
}
#about-content #about-content-text{
    margin-left: 12%;
    margin-top: 10%;
}
#about-content #about-content-text h1{
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 20px;
}
#about-content #about-content-text h6{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
#about-content #about-content-text button{
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
#about-content #about-content-text button:hover{
    background-color: #fff;
    color: #000;
}
/* about section end */